:root {
  --btn-background: #f9c06a;
  --btn-paddings: 14px 27px 15px;
  --color-black: #1e1e1e;
  --btn-radius: 24px;

  --line-height-34: 34px;
  --color-light: white;
  --color-dark: #707070;
  --color-cofee: #603809;

  --font-family-logo: "Clicker Script", cursive;
  --font-text-20: 20px;
  --font-text-54: 54px;
}

body {
  overflow-x: hidden;
}

body,
* {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.dark-heading {
  font-size: var(--font-text-54);
  color: var(--color-cofee);
}

.card-back {
  background-color: #FFF9F1;
  border: 1px solid #fac16b6b;
}

.btn {
  color: var(--color-black);
  background-color: var(--btn-background);
  border-radius: var(--btn-radius);
  display: inline-block;
  padding: var(--btn-paddings);
  transition: 0.3s;
  font-weight: bold;
}

.btn-hover:hover {
  box-shadow: 0 0 10px 2px #666;
}

header {
  background-image: url(img/coffee_image.png);
  color: var(--color-light);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 95px;
}

header .logo {
  font-family: var(--font-family-logo);
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  margin-right: 245px;
}

header a {
  color: var(--color-light);
}

header nav {
  font-size: 14px;
  font-weight: 600;
}

header ul {
  display: inline-block;
  margin-right: 200px;
}

header ul li {
  display: inline-block;
  margin-right: 60px;
}

header ul a,
.signin-btn {
  transition: 0.3s;
}

header ul a:hover,
.signin-btn:hover {
  opacity: 0.8;
}

header ul li:last-child {
  margin-right: 0;
}

header .login {
  display: inline-block;
}

.hero {
  max-width: 585px;
  margin-top: 116px;
}

.order-btn {
  margin-top: 20px;
}

.signin-btn {
  margin-right: 35px;
  text-decoration: underline;
}

.hero .label {
  color: var(--color-light);
  font-size: 22px;
}

.hero .description {
  color: var(--color-light);
  font-size: var(--font-text-20);
}

.hero .title {
  color: var(--color-light);
  font-family: var(--font-family-logo);
  font-size: 220px;
  font-weight: normal;
}

.hero .description {
  line-height: var(--line-height-34);
}

.advantages {
  padding: 80px 0 130px;
}

.advantages p {
  font-size: var(--font-text-20);
  color: var(--color-dark);
  margin: 29px 0;
  line-height: var(--line-height-34);
}

.advantages .description {
  max-width: 585px;
  display: inline-block;
  margin-right: 80px;
  vertical-align: 60px;
}

.products {
  margin-bottom: 130px;
}

.products h2 {
  text-align: center;
}

.products .description {
  color: var(--color-dark);
  font-size: var(--font-text-20);
  margin: 16px 0 32px;
  text-align: center;
}

.products .card {
  display: inline-block;
  text-align: center;
  margin-right: 13px;
}

.products .card:last-child {
  margin-right: 0;
}

.products .card-back > * {
  display: block;
}

.products .card-back {
  border-top: none;
  margin-top: -18px;
}

.products .type {
  margin: 14px 0 6px;
  color: var(--color-cofee);
  font-weight: bold;
  font-size: 22px;
}

.products .characteristic {
  color: var(--color-black);
}

.products .price {
  margin-top: 6px;
  color: var(--color-cofee);
  font-weight: bold;
  font-size: 18px;
}

.products .btn {
  display: inline-block;
  position: relative;
  top: 24px;
}


.features {
  text-align: center;
}

.features .description {
  color: var(--color-dark);
  font-size: var(--font-text-20);
  margin: 16px 0 32px;
}

.features .card {
  display: inline-block;
  padding: 36px 40px;
  margin-right: 12px;
}

.features .card:last-child {
  margin-right: 0;
}

.features .card > * {
  display: block;
}

.features .card img {
  display: inline-block;
}

.features .type {
  color: var(--color-cofee);
  font-size: 28px;
  font-weight: bold;
}

.features .text {
  color: var(--color-dark);
  font-size: var(--font-text-20);
  width: 192px;
}

.features .card:hover {
  background-color: #FFEED8;
  border-color: #FFEED8;
}

.features .join {
  margin-top: 32px;
}

.features .join p {
  color: var(--color-dark);
  font-size: var(--font-text-20);
}

.features .join h3 {
  font-size: 30px;
  color: var(--color-cofee);
}

.features .btn {
  margin-top: 24px;
  padding: 13px 41px;
}

.offer {
  background-image: url(img/cup.png), url(img/coffee_bean.png), url(img/Group\ 36.png);

  background-repeat: no-repeat;
  background-size: 300px 467px, contain, cover;
  background-position: 86%, right, 0;
  margin-block: 82px;
  padding-block: 135px;
}

.offer .text {
  max-width: 575px;
}

.offer .text h2 {
  color: var(--color-light);
  font-size: var(--font-text-54);
}

.offer .text p {
  color: var(--color-light);
  font-size: var(--font-text-20);
  line-height: var(--line-height-34);
  margin-block: 22px;
}

.feedback {
  margin-bottom: 82px;
  text-align: center;
}

.feedback .description {
  color: var(--color-dark);
  font-size: var(--font-text-20);
  margin-top: 16px;
}

.feedback .slider-wrapper {
  padding-inline: 41px;
  padding-block: 57px;
  position: relative;
}

.slider {
  overflow: hidden;
  width: 980px;
  margin: 0 auto;
}

.slides {
  width: 2948px;
  transition: 0.5s;
}

.slide {
  vertical-align: top;
  display: inline-block;
  background-color: #FFF9F1;
  border: 1px solid #fac16b6b;
  padding: 140px 100px 17.5px;
  position: relative;
  width: 980px;
  height: 524px;
}

.quote {
  position: absolute;
  top: 60px;
  left: 29px;
}

.slide p {
  font-size: 18px;
  line-height: 36px;
  font-weight: 600;
  color: var(--color-dark);
  margin-bottom: 17px;
}

.slide h3 {
  font-size: 32px;
  color: var(--color-cofee);
  margin-bottom: 4px;
}

.slide .status {
  display: block;
  font-size: var(--font-text-20);
  color: var(--color-dark);
  margin-bottom: 8px;
}

.slide .avatar {
  border-radius: 16px;
  width: 83px;
  height: 83px;
  background-image: url(img/man.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.feedback .controls {
  position: absolute;
  bottom: -31.5px;
  left: 510px;
}

.feedback .controls input {
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 6px solid var(--color-cofee);
  margin-right: 11px;
  position: relative;
  cursor: pointer;
}

.feedback .controls input:last-child {
  margin-right: 0;
}

.feedback .controls input::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 19px;
  height: 19px;
  background-color: var(--color-cofee);
  border-radius: 50%;
  display: none;
}

.feedback .controls input:checked:after {
  display: block;
}

.controls:has(#control1:checked) + .slider .slides {
  transform: translateX(0px);
}

.controls:has(#control2:checked) + .slider .slides {
  transform: translateX(-980px);
}

.controls:has(#control3:checked) + .slider .slides {
  transform: translateX(-1960px);
}

.arrows-box {
  display: none;
  position: relative;
}

.controls:has(#control1:checked) ~ .arrows .arrows-slide1,
.controls:has(#control2:checked) ~ .arrows .arrows-slide2, 
.controls:has(#control3:checked) ~ .arrows .arrows-slide3 {
  display: block;
}

.arrows {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}

.arrows-box label {
  background-color: var(--btn-background);
  width: 82px;
  height: 82px;
  line-height: 92px;
  border-radius: 16px;
  display: inline-block;
  position: absolute;
  top: 0;
  cursor: pointer;
  transition: 0.3s;
}

.arrows-box label:hover {
  transform: scale(1.2);
}

.arrows-box label:first-child {
  left: 60px;
}

.arrows-box label:last-child {
  right: 60px;
}

.subscribe {
  background-image: linear-gradient(hwb(32 4% 62% / 0.8)), url(img/Rectangle\ 14.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 80px;
  text-align: center;
  position: relative;
}

.subscribe h2 {
  font-size: var(--font-text-54);
  color: var(--color-light);
}

.subscribe p {
  font-size: var(--font-text-20);
  color: var(--color-light);
  margin: 16px 0 26px;
}

.subscribe form {
  border: 1px solid #F9C06A6B;
  display: inline-block;
  border-radius: 6px;
}

.subscribe input[type="email"] {
  padding: 20px 20px 20px 26px;
  font-size: var(--font-text-20);
  border-radius: 4px;
  border: none;
  width: 505px;
}

.subscribe input[type="email"]:focus {
  outline: none;
}

.subscribe input[type="email"]::placeholder {
  color: rgba(0, 0, 0, 0.34);
}

.subscribe input[type="submit"] {
  color: var(--color-cofee);
  background-color: var(--btn-background);
  font-weight: bold;
  font-size: 22px;
  padding: 19px 24px 18px 24px;
  border-radius: 4px;
  border: none;
  vertical-align: bottom;
  margin-left: -8px;
  cursor: pointer;
}

.subscribe input[type="submit"]:hover {
  box-shadow: 0 0 10px 2px #666;
  transition: 0.5s;
}

.subscribe img {
  position: absolute;
  top: 138px;
  z-index: 2;
}

.subscribe .img-left {
  left: -250px;
}

.subscribe .img-right {
  transform: scaleX(-1);
  right: -250px;
}

footer {
  background: linear-gradient(to bottom, #442808, #895110);
  position: relative;
  padding-top: 320px;
  padding-bottom: 80px;
  color: var(--color-light);
  z-index: 1;
}

footer a {
  color: var(--color-light);
}

footer .background-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  mix-blend-mode: multiply;
}

footer .contacts,
footer nav,
footer nav ul {
  display: inline-block;
  position: relative;
}

footer .contacts {
  width: 380px;
}

footer .logo {
  font-family: var(--font-family-logo);
  font-size: var(--font-text-54);
}

footer .contacts p {
  font-size: 14px;
  line-height: 22px;
  margin-block: 20px;
}

footer .socials a {
  margin-right: 20px;
  vertical-align: bottom;
}

footer .socials a:last-child {
  margin-right: 0;
}

footer ul {
  list-style: none;
  padding-left: 0;
  margin-right: 66px;
}

footer ul li:first-child {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 55px;
  line-height: 0;
}

footer ul li {
  font-size: 18px;
  line-height: 42px;
}

footer ul:last-child {
  width: 332px;
  margin-right: 0;
  vertical-align: top;
}

footer ul:last-child li:first-child {
  margin-bottom: 49px;
}

footer ul:last-child li:nth-child(2) {
  line-height: normal;
}

footer nav {
  margin-left: 45px;
}